* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body{
  background: linear-gradient( #FFCEFE 50% , #fff 50%);
  min-height: 100vh;
}
.container{
  width: 85vw;
  max-width: 40em;
  padding: 3em;
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
h1{
  position: relative;
  font-size: 2em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #FFCEFE;
  padding: 5px 0;
}
h1::before{
content: ' ';
position: absolute;
bottom: 0;
left: 0;
height: 3px;
width: 100%;
background: #FFCEFE;
}
label{
  display: block;
  padding: .5em 0;
  font-size: 1.4em;
  color: #555;
  font-family: 'Times New Roman', Times, serif;
}
input{
  width: 100%;
  padding: .3em 3px;
  border: none;
  outline: none;
  font-size: 1em;
  border-bottom: 1px solid #555;
}
input:focus{
  border-color: #FFCEFE;
}
.btn{
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: .7em 0;
  border-radius: 5px;
  background: #FFCEFE;
  color: #fff;
  text-decoration: none;
  font-size: 1.4em;
}
.btn:hover{
background: #ffcefee5;
}
